<!DOCTYPE html>
<html>
<head>
  <title>ProyectoCourier</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <ul class="nav nav-tabs">  
      <li><%= link_to "Inicio" , root_path %></li>
      <li><%= link_to "About us" , welcome_about_path %></li>
      <li><%= link_to "Contacto" , welcome_contacto_path %>  </li>
      <li><%= link_to "Grupos" ,  welcome_grupo_path %></li>
      <li><%= link_to "Features" , welcome_features_path %></li>
      <li><%= link_to "FAQs" , welcome_faq_path %></li>
      <li><%= link_to "Precios" , welcome_precios_path %></li>
      <li><%= link_to "Invoices" , invoices_path %></li>
      
      
      <% if current_user %>
        <li><%= link_to "Sign Out" , destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign Up" , new_user_registration_path %></li>
        <li><%= link_to "Sign In" , new_user_session_path %></li>
      <% end %>
      
    </ul>

  <%= yield %>
  </div>
</body>
</html>
